{
  "bracketSameLine": true,
  "singleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 130,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200,
        "tabWidth": 2
      }
    }
  ]
}